* {
    box-sizing: border-box; 
}

header {
    height: 10dvh;

    padding: 0em 3em 0em 2em;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(44, 46, 46);
    border-bottom: 1px solid rgba(162, 162, 162, 0.353);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

.empresaSelect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 50%;

    background-color: rgb(38, 35, 35);
    border: 2px solid #49a45a;
    border-radius: 10cap;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

#impSelect {
    border: none;
    height: 70%;
    width: 70%;

    background-color: transparent;
    color: white;
    font-size: 1rem;
}

#impSelect option {
    background-color: rgb(38, 37, 37);
}

#impSelect:focus {
    outline: none;
}

#div_buttons {
    width: 70%;
    display: flex;
    gap: 2%;
    justify-content: end;
}

.button_header {
    padding: 0.7em;
    max-width: 100%;

    border: 2px solid #49a45a;
    border-radius: 10cap;

    background-color: rgb(38, 35, 35);
    color: white;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);

    cursor: pointer;
}

.button_selected {
    background-color: rgb(132, 166, 128);
    color: rgb(255, 255, 255);
}

main {
    width: 100%;
    height: 90dvh;
    flex-direction: column;
    background-color: rgb(50, 44, 44);
}

footer {
    width: 100%;
    height: 250px;
    background-color: blue;
}