#mercado_de_acoes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;

    z-index: -1;
}

.secao1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;

    border-radius: 10cap;

    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

#acao {
    padding: 1em 0em 1em 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#acao p {
    font-size: 1.5rem;
    font-weight: bolder;
}

#acao hr {
    width: 90%;
    max-width: 250px;
    margin: 3% 0% 5% 0%;
    height: 3px;

    border: none;
    background-color: #49a45a;
}

#acao h1 {
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    margin-bottom: 2%;
}

#acao h2 {
    color: rgb(49, 46, 46);
    font-weight: bolder;
    margin-bottom: 2%;
    height: 100%;
}

.secao2 {
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    gap: 3%;
}

#volume_negociacao {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    border-radius: 10cap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

#quantidade_negociacao {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    padding: 0% 10%;
    font-weight: bolder;
    color: black;
}

#variacao_diaria {
    text-align: center;

    border-radius: 10cap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#variacao_diaria p {
    font-size: 2rem;
    font-weight: bolder;
    padding: 20% 0% 15% 0%;
}

#variacao {
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    margin-bottom: 2%;
}