#performance_financeira {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;

    position: fixed;
    z-index: -1;
}

.secaoPerformance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 0.5em;
    border-radius: 10cap;
    height: 100%;
    width: 100%;

    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

.secaoPerformance h1{
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}