#satisfacao_e_cliente {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 1em;

    position: fixed;
    /* z-index: -1; */
}

.satisfacao_secao1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1em;
}

#net_promoter_score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 80%;
    padding: 1em;

    border-radius: 10cap;
    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

#net_promoter_score h1 {
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#taxa_de_retencao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    padding: 1em;

    border-radius: 10cap;
    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

#taxa_de_retencao h1 {
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.taxa_clientes {
    display: flex;
    flex-direction: column;
    border-radius: 10cap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;

    border: 2px solid rgba(162, 162, 162, 0.353);
    background-color: rgba(129, 118, 118, 0.544);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.597);
}

.taxa_clientes h1{
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#regions_div {
    padding: 3em;
}